/* Define App level styling here */
body {
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #5D9C59;
}


/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}